{{template "header" .}}

<div class="my-3">
    {{if .User.First}}
        <h1 class="text-center h3">
            Hello {{.User.First}}<br>
        </h1>
        <p>This is the page for authorized users.</p>
    {{end}}
</div>

{{template "footer"}}